/*---------------------------------Universal ---------------------------------*/

*{
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}



/* ---------------------------------Global Styles ---------------------------------*/
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*--------------------------------- Container--------------------------------- */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* ---------------------------------Header Styling ---------------------------------*/
header {
    background-color: #0b0a0a;
    color: #fff;
    padding: 0px 0;
    position: fixed;
    width: 101%;
    top: 0px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 0.6s ease-out;
}


header.scrolled {
    background-color: #222;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 550px;
}

.logo:hover{
    color:#f0f0f0
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 10px 20px;
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease;
}

nav ul li {
    margin-left: 10px;
    position: relative;
}

nav ul li a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background: linear-gradient(90deg, #007bff 0%, #00d2ff 100%);
    border-radius: 50px;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*--------------------------------- Hero Section--------------------------------- */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/bg.png') no-repeat center center/cover;
    max-width: 100%;
    background-attachment: fixed;
    text-align: center;
    animation: fadeIn 1.5s ease;
}

.hero h2 {
    font-size: 48px;
    color: #c3c3c3;
    animation: fadeIn 2s ease;
}

.hero p {
    font-size: 20px;
    color: #bebebe;
    margin: 20px 0;
    animation: fadeIn 2.5s ease;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/*--------------------------------- About Section---------------------------------*/
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: left;
}

.about img {
    height: 350px;
    margin: 50px 0 0 250px;
    border-radius: 10px;
    animation: slideInLeft 1s ease;
}

.about p {
    max-width: 100%;
    line-height: 1.6;
    font-size: 16px;
    animation: slideInRight 1s ease;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ---------------------------------Portfolio Section--------------------------------- */
.portfolio {
    background-color: #fff;
    padding: 80px 0;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    animation: fadeIn 1s ease;
}

.portfolio-item {
    height: 90%;
    padding-bottom: 10px;
    flex: 1 1 calc(33.333% - 40px);
    /* border: 0.5px solid black; */
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: zoomIn 0.8s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-item h3 {
    font-size: 20px;
    padding: 15px;
}

.portfolio-item p {
    padding: 0 15px 15px;
    line-height: 1.6;
    font-size: 16px;
}


.portfolio button{
    display: block;
    margin-left: 190px;
    background-color: #0b0a0a;
    color: #fff;
    padding: 12px 30px;
    border-radius: 100px;
    /* text-transform: uppercase; */
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 3s ease;
}
.portfolio button:hover {
  transition-duration: 0.1s;
  background-color: #363434;
}

/* ---------------------------------Contact Section ---------------------------------*/
.contact {
    background-color: #f9f9f9;
    padding: 80px 0;
    text-align: center;
    animation: fadeIn 1s ease;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact input, .contact textarea {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    font-size: 16px;
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.contact input:focus, .contact textarea:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.contact button {
    padding: 12px 30px;
    border-radius: 50px;
    background-color: #4b4b4b;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1.5s ease;
}

.contact button:hover {
    background-color: #222222;
    transform: scale(1.1);
}

/* ---------------------------------Footer Section--------------------------------- */
footer {
    background-color: #000000;
    color: #fff;
    padding: 0.5% 0;
    text-align: center;
}

footer .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 2s ease;
}

footer .social-links li {
    display: inline-block;
}

footer .social-links img{
    /* background-color: white; */
    margin-right: 2%;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

footer .social-links img:hover{
    transform: scale(1,1);
}

footer .social-links a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #007bff;
}

/* ---------------------------------crollbar Styling--------------------------------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #007bff 0%, #00d2ff 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #0056b3 0%, #008db3 100%);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #007bff #f1f1f1;
}

/* ---------------------------------Mobile Responsive--------------------------------- */

nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px){
    a.logo{
        font-size: 16px;
    }
    .container>h2{
        font-size: 24px;
    }
    .container>p{
        font-size: 13px;
    }
    .cta-button{
        font-size: 8px;
        padding: 10px 15px;
    }
    .about img {
        height: 160PX;
        margin-top: 25px;
        margin-left: 29px;
    }



    .portfolio-item{
        height: 80%;
    }
    .portfolio-item>h3{
        font-size: 16px;
        margin: 0 0 0 7px;
        padding: 0 0;
    }
    .portfolio-item>p{
        margin-top: 5px;
        font-size: 10px;
    }
    .portfolio button{
        margin-left:40px;
        font-size: 8px;
        padding: 10px 15px;
    }


    .contact>h2{
        font-size: 20px;
    }
        .contact input, .contact textarea {
        width: 66%;
        padding: 8px;
        margin-bottom: 10px;
        margin-left: 61px;
        font-size: 10px;
    }

    .contact button{
        width: 50%;
        margin-left: 101px;
        font-size: 10px;
        padding: 8px 18px;
    }


    footer .social-links img{
        width: 15px;
        height: 15px;
    }
    footer .social-links a{
        font-size: 8px;
    }

}


